@import url('https://fonts.googleapis.com/css2?family=Lobster &display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#logo{
    display:flex;
    color:rgb(10, 81, 129);
    align-items: center;   
    margin: 0 15px;
    font-size: 25px;
    margin-right: 40px;
    padding: 2px;
    background-color: white;
    font-size: 28px; 
}

#logo img{
    height: 60px;
    filter:drop-shadow();
}

#navbar{
    background-color: darksalmon;
    font-family: 'Otomanopee One', sans-serif;
    padding: 4px 14px;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar li{
    list-style: none;
}

#navbar li a{
    font-size: 33px;
    text-decoration: none;
    padding: 7px 30px;
}

#navbar li a:hover{
    color: rgb(209, 81, 113);
}

#introSection{
    height: 750px;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    color:darkred;
    padding: 27px 55px;
    font-family:'Times New Roman', Times, serif;
    font-size: 55px;
    font-weight:bold;
    background: url("bj2.jpg");
    background-position-x: center;
    background-size:cover;
    background-repeat: no-repeat;
}

#introSection div.small{
    padding: 2px;
    font-size: 45px;
    color:brown;
    margin-left: -36px;
    padding-left: 20px;
}

#introSection div{
    width: 50%;
    background-color:mediumspringgreen;
    border-radius: 10px;
    margin-left: -36px;
    margin-bottom: 3px;
    padding-left: 20px;

}

.btn{
    padding: 13px 16px;
    width: 134px;
    margin: -100px 69px 6px 1783px;
    font-size: 21px;
    border-radius: 24px;
    color:crimson;
    background-color: rgb(77, 179, 243);
    border: 2px solid rgb(77, 179, 243);
    cursor: pointer;
    text-decoration: none;
}

.btn:hover{
    background-color:rgb(123, 245, 96);
    border: 2px solid rgb(123, 245, 96);
    text-decoration: none;
}


#missionSection{
    height: 500px;
    margin: auto;
    width: 100%;
    background-color:rgb(209, 81, 113);
}

#missionSection h2{
    text-align: center;
    padding-top: 12px;
    font-family: 'Otomanopee One', sans-serif;
}

.card{
    /* border: 2px solid black; */
    border-radius: 12px;
    width: 29%;
    margin: 23px 19px;
    display: inline-block;
    background-color:powderblue;
    border-radius: 12px;
}

.card h3{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 22px;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card img{
    height: 100px;
    padding: 0px 6px;
    margin: 8px 6px;
}

.card-content{
    padding: 2px 18px 16px 6px;
}

.card-content p{
    font-size: 19px;
}

#SupplySection{
    height: 500px;
    margin: auto;
    width: 90%;
    background: url(/bj1.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x:left;
    color:rgb(251, 250, 186);
    font-size: 19px;
}
#SupplySection h2{
    text-align: center;
    padding-top: 12px;
    font-family: 'Otomanopee One', sans-serif;
    color: antiquewhite;
}

#SupplySection h3{
    text-align: center;
    padding-top: 12px;
    color: antiquewhite;
}

.card1
{
    display: inline-block;
    width: 46%;
}
.card1-content
{
    padding: 43px 32px;
    width: 60%;
}
.card1 img{
    height: 505px;
    width: 400px;
    margin-left: 480px;
}
.card2
{
    padding: 2px 4px;
    justify-content: center;
    align-items: center;
}

.spImage{
    height: 70%;
    margin: 20px;
}
#footer{
    height: 60px;
    background-color: rgb(15, 13, 13);
    font-size: 15px;
    display:flex;
    color:white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
